<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870031405357-8qo20t0c6l8g9451pblc8dqbnrktg30c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870031405357-8qo20t0c6l8g9451pblc8dqbnrktg30c</string>
	<key>API_KEY</key>
	<string>AIzaSyBAhU0TqPsJt5NTbJGTlRfgzEnU66W_K9I</string>
	<key>GCM_SENDER_ID</key>
	<string>870031405357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.codeo.instagram_clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870031405357:ios:2c2718a2844bc9b4</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-rn.firebaseio.com</string>
</dict>
</plist>